li { margin-top: 16px; }

p { margin-bottom: 8px; margin-bottom: 8px; }

table {
    font-family: arial, sans-serif;
    font-size: 10pt;
    border-collapse: collapse;
    width: 100%;
    margin-top: 16px;
}

td, th {
    border: 1px solid #bbbbbb;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
